.profile {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.description {
  width: 100%;
  background-color: #dbdce3;
}
.avatar {
  margin: 20px auto 0;
  border-radius: 50%;
  background-color: rgb(68, 68, 180);
}
.username {
  margin: 10px 0;
  font-weight: bold;
}
.tag {
  margin-top: 10px;
  color: rgb(145, 143, 143);
}
.location {
  color: grey;
  margin: 10px 0;
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 0.75rem;
  background: #bfbebe;
}
.item {
  padding: 10px;
  border-top: 1px solid #0f0f4f;
  border-right: 1px solid black;
}
.liItem {
  padding: 10px;
  border-top: 1px solid black;
}
.label {
  margin-bottom: 10px;
  color: grey;
}
.quantity {
  font-weight: bold;
}
